# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a basic arithmetic operation made in code with Python

(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60

minutos = 200
horas = minutos / 60

print(f"200 minutes are {horas:.2f} hours")

200 minutes are 3.33 hours

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries for Data Science  
- Learn the basics on popular open source development tools
- Create and format Markdown tables in Jupyter Notebook  
- Perform simple Python operations and formatting

## Author
Bautista Jaureguiberry